.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .pagination li {
    background-color: white;
    padding: 8px 12px;
    border: 1px solid whitesmoke;
    border-radius: 16px;
  }
  
  .pagination .active {
    background-color: #9538E2;
    color: white;
    border: none;
  }
  
  .pagination .disabled {
    opacity: 0.5;
  }
  